//colors
$white: #fff;
$text: #3D3D47;

$light-gray: #F2F2F2;
$dark-gray: #9E9EA3;
$gray: #E0E0E8;
$blue: #6D71F7;
$dark-blue: #535597;
$blue-click: rgba(126,138,255,1);
$blue-hover: rgba(93,96,210,1);
$yellow: #FCFF63;
$green: #00FFB3;
$dark-green: #27AE60;